<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473779433136-2cgflb0n1b0b31i2s3addmbbpg3j7gnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473779433136-2cgflb0n1b0b31i2s3addmbbpg3j7gnm</string>
	<key>API_KEY</key>
	<string>AIzaSyBcHZdqX7YXjldOkVo-89eVBWODczTPaDY</string>
	<key>GCM_SENDER_ID</key>
	<string>473779433136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almostZenly</string>
	<key>PROJECT_ID</key>
	<string>gs-expansion-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gs-expansion-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473779433136:ios:e2411d757e3ca7e05fd575</string>
</dict>
</plist>