<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412561740140-9856mqmgrtc7bdprrkdcoji00i7tvqrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412561740140-9856mqmgrtc7bdprrkdcoji00i7tvqrb</string>
	<key>API_KEY</key>
	<string>AIzaSyBdw1X-PIrpF1S5jexu-y3Yg8d-Ybawz1o</string>
	<key>GCM_SENDER_ID</key>
	<string>412561740140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almostZenly</string>
	<key>PROJECT_ID</key>
	<string>gs-expansion-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>gs-expansion-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412561740140:ios:ca3345ff96213ab0e82349</string>
</dict>
</plist>